<div class="container-fluid">
<div class="row">

  <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="/">Overview</a>
      </li>
    </ul>
    <hr>
    <h6>Categories</h6>
    <ul class="nav nav-pills flex-column">
      <% @categories.each do |e| %>
        <li class="nav-item">
          <%= link_to e.name, user_category_path(current_user,e), class: "nav-link" %>
        </li>
        <% end %>

    </ul>
  </nav>

  <main class="col-sm-9 pt-3">
    <%= form_tag root_path, method: "get", remote:true, :enforce_utf8 => false, id:"category_search" do  %>
    <p>
      <%= label_tag :search %>
      <%= text_field_tag :search, params[:search] %>
    </p>
    <% end %>
    <div class="all">
      <%= render "categories" %>
    </div>
  </main>
</div>
</div>
