<!DOCTYPE html>
<html>
  <head>
    <title>FinancialTracker</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
     <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <a class="navbar-brand" href="/">Dashboard</a>

     <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
           <li class="nav-item">
             <%= link_to "New Category", new_user_category_path(current_user), class:"nav-link" %>
           </li>
           <% end %>
         <li class="nav-item"><% if user_signed_in? %> <%= link_to "Sign Out", destroy_user_session_path, class: "nav-link", :method => :delete  %> <% end %></li>
        <li class="nav-item"><% if !user_signed_in? %> <%= link_to "Log In", new_user_session_path, class: "nav-link" %> <% end %></li>
        <li class="nav-item"><% if !user_signed_in? %> <%= link_to "Sing Up", new_user_registration_path, class: "nav-link" %> <% end %></li>
       </ul>
       <%= form_tag root_path, method: "get", :enforce_utf8 => false do  %>
       <p>
         <%= text_field_tag :search, params[:search] %>
         <%= submit_tag "Search", name: nil, class: "btn btn-outline-success my-2 my-sm-0"  %>
       </p>
       <% end %>
     </div>
   </nav>
     <%= yield %>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

  </body>
</html>
